extends layout

block content
  .container
    h1= title
    #info
      img(src='splash.png')
      p Use your own image size (width &amp; height) to get a Morty placeholder image. 
      #code
        span: a(href=url+"300/200") #{url}300/200
        span: a(href=url+"g/300/200") #{url}g/300/200
